; Supervisor configuration file
; For more information on the config file, please see:
; http://supervisord.org/configuration.html
; {{ ansible_managed }}
;

[unix_http_server]
file=/var/run/supervisord.sock ; (the path to the socket file)
chmod=0666                     ; sockef file mode (default 0700)
chown=root:root                ; socket file uid:gid owner

{% if supervisor_http_enabled is defined and supervisor_http_enabled %}
[inet_http_server]                      ; inet (TCP) server disabled by default
port=*:9001                             ; (ip_address:port specifier, *:port for all iface)
username={{ supervisor_http_username }} ; (default is no username (open server))
password={{ supervisor_http_password }} ; (default is no password (open server))
{% endif %}

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

[supervisord]
http_port=/var/run/supervisord.sock ; (default is to run a UNIX domain socket server)
;http_port=127.0.0.1:9001  ; (alternately, ip_address:port specifies AF_INET)
;sockchmod=0700              ; AF_UNIX socketmode (AF_INET ignore, default 0700)
;sockchown=nobody.nogroup     ; AF_UNIX socket uid.gid owner (AF_INET ignores)
;umask=022                   ; (process file creation umask;default 022)
logfile=/var/log/supervisor/supervisord.log ; (main log file;default $CWD/supervisord.log)
logfile_maxbytes=50MB       ; (max main logfile bytes b4 rotation;default 50MB)
logfile_backups=10          ; (num of main logfile rotation backups;default 10)
loglevel=info               ; (logging level;default info; others: debug,warn)
pidfile=/var/run/supervisord.pid ; (supervisord pidfile;default supervisord.pid)
nodaemon=false              ; (start in foreground if true;default false)
minfds=1024                 ; (min. avail startup file descriptors;default 1024)
minprocs=200                ; (min. avail process descriptors;default 200)

[supervisorctl]
serverurl=unix:///var/run/supervisord.sock ; use a unix:// URL  for a unix socket
;serverurl=http://127.0.0.1:9001 ; use an http:// url to specify an inet socket
;username=chris              ; should be same as http_username if set
;password=123                ; should be same as http_password if set
;prompt=mysupervisor         ; cmd line prompt (default "supervisor")

[include]
files = /etc/supervisor/conf.d/*.conf
